<!DOCTYPE html>
            <html>
                <head>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                </head>
                <body onload="getLocation()">
                  {% for user in users %}
                  <span>{{user.user_name}}</span>
                  {% endfor %}
                    <h1>Using an iframe</h1>
                    <div id="map">{{ iframe|safe }}</span>

                     <span><a>Add your own markers</a></span>
                     <script>
                       /*function getPlaces() {
                        $.get('/places', (places) => {
                          var places = 
                        })
                       }*/

                    </script>
                </body>
               
            </html> 



